 /* Estilo para el mensaje, cambia el tamaño de la fuente en pantallas medianas */
 #mensaje {
    font-size: 2rem; /* Aumenta el tamaño de la fuente en pantallas medianas */
}

/* Estilo para la sección de sobre nosotros */
#sobreNosotros {
    padding: 5vh; /* Aumenta el relleno en pantallas medianas */
    height: 90vh;
}

/* Estilo para el título dentro de la sección sobre nosotros */
#sobreNosotros h2 {
    font-size: 3.5rem; /* Aumenta el tamaño de la fuente del título */
}

/* Estilo para el párrafo dentro de la sección sobre nosotros */
#sobreNosotros p {
    font-size: 1.4rem; /* Ajusta el tamaño de la fuente del párrafo */
}

/* Estilo para la imagen dentro de la sección sobre nosotros */
#imgSobre {
    margin-top: 2%; /* Añade margen superior en pantallas medianas */
    height: 40vh; /* Ajusta la altura de la imagen */
}

/* Estilo para la sección de modelos */
#modelos h2 {
    font-size: 3.5rem; /* Aumenta el tamaño de la fuente del título */
}

#modelos h3 {
    font-size: 3rem; /* Aumenta el tamaño de la fuente del subtítulo */
}

/* Estilo para el párrafo dentro de la sección de modelos */
#modelos p {
    padding: 3vh; /* Añade relleno alrededor del párrafo */
    font-size: 1.8rem; /* Aumenta el tamaño de la fuente */
}

/* Estilo para las imágenes dentro de la sección de modelos */
#imgModelo, #imgLago, #imgCasaGran {
    height: 40vh; /* Ajusta la altura de las imágenes */
}

/* Estilo para la galería */
#galeria {
    height: 265vh; /* Aumenta la altura de la galería */
}
#imgGal1, #imgGal2, #imgGal3, #imgGal4, #imgGal5, #imgGal6{
    height: 40vh; /* Ajusta la altura de las imágenes */
}

/* Estilo para la sección de contáctanos */
#escribenos h2 {
    font-size: 3rem; /* Aumenta el tamaño de la fuente del título */
}

/* Ajustes para el formulario */
#divForm {
    height: 60vh; /* Ajusta la altura del contenedor del formulario */
}

/* Estilo para el formulario en sí */
form {
    width: 75%; /* Aumenta el ancho del formulario */
}

/* Estilo para el pie de página */
footer {
    font-size: 2.5rem; /* Aumenta el tamaño de la fuente del pie de página */
}
/* Estilo general para todos los divs */
div {
    border: none;
    padding: 0;
    margin: auto;

}

/* Contenedor principal */
#contenedor {
    width: 980px;
    text-align: center;
}

/* Cabecera */
#cabecera {
    height: 40px;
    background-color: #ff0000;
    /* Rojo */
    padding-top: 20px;

}


/* Menú */
#menu {
    height: 20px;
    background-color: #4f704f;
    /* Verde oscuro */
    padding-top: 10px;
}
#cuerpo {
    height: 505px;
    width: 980px;
}
/* Estilo para el mensaje, cambia el tamaño de la fuente en pantallas medianas */
#mensaje {
    font-size: 2rem; /* Aumenta el tamaño de la fuente en pantallas medianas */
}

/* Estilo para la sección de sobre nosotros */
#sobreNosotros {
    padding: 5vh; /* Aumenta el relleno en pantallas medianas */
    height: 90vh;
}

/* Estilo para el título dentro de la sección sobre nosotros */
#sobreNosotros h2 {
    font-size: 3.5rem; /* Aumenta el tamaño de la fuente del título */
}

/* Estilo para el párrafo dentro de la sección sobre nosotros */
#sobreNosotros p {
    font-size: 1.4rem; /* Ajusta el tamaño de la fuente del párrafo */
}

/* Estilo para la imagen dentro de la sección sobre nosotros */
#imgSobre {
    margin-top: 2%; /* Añade margen superior en pantallas medianas */
    height: 40vh; /* Ajusta la altura de la imagen */
}

/* Estilo para la sección de modelos */
#modelos h2 {
    font-size: 3.5rem; /* Aumenta el tamaño de la fuente del título */
}

#modelos h3 {
    font-size: 3rem; /* Aumenta el tamaño de la fuente del subtítulo */
}

/* Estilo para el párrafo dentro de la sección de modelos */
#modelos p {
    padding: 3vh; /* Añade relleno alrededor del párrafo */
    font-size: 1.8rem; /* Aumenta el tamaño de la fuente */
}

/* Estilo para las imágenes dentro de la sección de modelos */
#imgModelo, #imgLago, #imgCasaGran {
    height: 40vh; /* Ajusta la altura de las imágenes */
}

/* Estilo para la galería */
#galeria {
    height: 265vh; /* Aumenta la altura de la galería */
}
#imgGal1, #imgGal2, #imgGal3, #imgGal4, #imgGal5, #imgGal6{
    height: 40vh; /* Ajusta la altura de las imágenes */
}

/* Estilo para la sección de contáctanos */
#escribenos h2 {
    font-size: 3rem; /* Aumenta el tamaño de la fuente del título */
}

/* Ajustes para el formulario */
#divForm {
    height: 60vh; /* Ajusta la altura del contenedor del formulario */
}

/* Estilo para el formulario en sí */
form {
    width: 75%; /* Aumenta el ancho del formulario */
}

/* Estilo para el pie de página */
footer {
    font-size: 2.5rem; /* Aumenta el tamaño de la fuente del pie de página */
}
}
/* Sección de información */
#informacion {
    margin: 0;
    padding: 0;
    width: 675px;
    height: 500px;
    background-color: #00ff0d; /* Verde claro */
    display: inline-block; /* Agregado display: inline-block */
}
#lateral {
    width: 300px;
    height: 500px;

    margin-bottom: 5px;
    background-color: #0400ff; /* Azul */
    display: inline-block; /* Agregado display: inline-block */
   
}


/* Pie de página */
#footer {
    clear: both;
    /* Asegura que el pie esté debajo de las secciones flotantes */
    height: 40px;
   
    background-color: #ffd000;
    /* Amarillo */
}